@import "styles/variables.scss";

#root {
    margin: 0 auto;
    padding: 0;
  }

  @keyframes appear {
    0% {
        transform: translateX(-100%);
        background-color: white;
        color: rgb(58, 56, 56);
    }
    100% {
        transform: translateY(0);
        color: white;
        background: linear-gradient(45deg, rgba(114,35,207,1) 0%, rgba(166,61,164,1) 54%);
    }
}

main {
    min-height: 100vh;
    width: 100vw;
    position: relative; /*posiciona um elemento em relação à sua posição original no fluxo do documento*/
    display: flex; /*transforma um elemento em um container flexível, organizando seus elementos filhos em uma linha ou coluna*/
    align-items: center;
    flex-direction: column;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 24px;
        

        .menu-options {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            a {
                font-weight: 500;
                font-size: 16px;
                text-decoration: none;
                color: white;
                cursor: pointer;
                


                &:hover {
                    color: $color-primary;
                    transition: all 500ms;
                }
            }
        }
        button {
            border-radius: 24px;
            border: none;
            font-weight: 500;
            font-size: 16px;
            background-color: transparent;
            overflow: hidden;
            position: relative;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                cursor: pointer;
                height: 100%;
                width: 100%;
                padding: 16px 24px;
                border-radius: 24px;
                border: none;
            }

            .btn-face-white {
                color: rgb(58, 56, 56);
                background-color: white;
                z-index: 998;
            }

            .btn-face-purple {
                color: white;
                display: none;
                z-index: 999;
                position: absolute;
                top: 0;
            }

            &:hover {
                .btn-face-purple {
                    display: flex;
                    animation: appear 200ms linear 100ms forwards;
                }
            }
        }
    }
}
